<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moayo">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOAYO">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".passwordResetActivity">
        </activity>
        <activity android:name=".exseatNumber">
        </activity>
        <activity android:name=".paymentActivity">
        </activity>
        <activity android:name=".busSchedule">
        </activity>
        <activity android:name=".getDate">
        </activity>
        <activity android:name=".getLocation">
        </activity>
        <activity android:name=".referSchedule">
        </activity>
        <activity android:name=".getLocationArrive">
        </activity>
        <activity android:name=".checkAndChange">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>